body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.App {
    margin: 20px 20px 20px 20px;
}

.Search {
    margin-left: 30%;
    margin-right: 30%;
}

.WeatherDisplay {
    padding-top: 5px;
    padding-bottom: 15px;
    display: block;
    margin: 20px auto;
    max-width: fit-content;
    background-color: rgba(94, 84, 142, 0.9);
    border-radius: 60px;
}