.weather-icon-and-current-temp {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(25, 42, 81);
    border-radius: 40px;
    width: 70%;
    height: 100%;
    max-width: 900px;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
}

.weather-icon {
    width: 70%;
    max-width: 350px;
}

.city-name {
    width: auto;
    text-align: center;
    color: white;
    font-size: 6vw;
}

.current-temp {
    font-size: 8vw;
    color: white;
    margin-right: 1em;
}

.weather-grid {
    display: grid;
    grid-template-areas:
        'heading heading heading heading heading heading'
        'item1     item2      item3      item4        item5       item6';
    gap: 15px 15px;
    margin: 20px 15px 20px 15px;
    padding: 20px 20px 20px 20px;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(25, 42, 81);
    border-radius: 40px;
}

.weather-grid h2 {
    grid-area: heading;
    color: white;
    font-size: 4vw;
}

.weather-item {
    padding: 0 15px 0 15px;
    background-color: rgba(10, 34, 57);
    border-radius: 20px;
}
.weather-stats {
    color: white;
    font-size: 4vw;
}

.weather-stat-numbers {
    color: white;
    font-size: 3vw;
}

@media (min-width: 905px) {
    .city-name {
        font-size: 50px;
    }

    .current-temp {
        font-size: 60px;
    }

    .weather-icon-and-current-temp {
        max-height: 300px;
    }

    .weather-grid h2 {
        font-size: 30px;
    }

    .weather-item {
        max-width: 150px;
    }

    .weather-stats {
        font-size: 25px;
    }

    .weather-stat-numbers {
        font-size: 25px;
    }
}

@media (max-width: 905px) {
    .weather-grid {
        grid-template-areas:
        'heading heading heading'
        'item1     item2      item3'
        'item4     item5      item6';
    }

}