@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}


.App {
    margin: 20px auto;

}

.Search {
    margin-left: 30%;
    margin-right: 30%;
}

#WeatherDisplay {
    box-sizing: border-box;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 20px auto;
    background-color: rgba(94, 80, 250, 0.9);
    border-radius: 30px;
    max-width: 1000px;
}

@media (min-width: 905px) {
    #WeatherDisplay {
        width: 90%;
    }
}

@media (max-width: 905px) {
    .App {
        margin: 1em 1em 1em 1em;
    }

    .Search {
        margin-left: 10%;
        margin-right: 10%;
    }

    #WeatherDisplay {
        width: 100%;
    }
}