body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.App {
    margin: 2em 2em 2em 2em;

}

.Search {
    margin-left: 30%;
    margin-right: 30%;
}

#WeatherDisplay {
    display: none;
    box-sizing: border-box;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2em auto;
    width: auto;
    background-color: rgba(94, 80, 250, 0.9);
    border-radius: 30px;
    max-width: 1000px;
}



@media (max-width: 905px) {
    .App {
        margin: 1em 1em 1em 1em;
    }

    .Search {
        margin-left: 10%;
        margin-right: 10%;
    }
}